*{
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  /* border-radius: 1rem; */
  text-align: center;
  height: 1000vh;
  width:100%;
  background-color: rgb(69, 9, 9);
  color: beige;
}
.card {
  position: relative;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  padding: 10px;
  margin: 10px;
  background-color:  rgb(31, 17, 17);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.scorecard{
  /* text-align: right; */
  position: relative;
  /* padding: 10px; */
  margin: 10px;
  /* font: weight 1px;; */
}
